<style>
	#get-user-container {
		width: 300px;
		margin: 0 auto;
	}
</style>

<div id="get-user-container">
	<h1> Get user by id </h1>
	<form id="get-user">
		<input name="id" type="number" min="0" placeholder="Type user ID here"/>
		<input type="submit" value="Find" />
	</form>
<div>

<script type="text/javascript">
  window.onload = function(){
    $('#get-user').on('submit', function(e){
    	e.preventDefault();

    	var id = $('#get-user input[name="id"]').val();

    	$.ajax({
    		url:  '/api/user/' + id,
    		type: 'GET',
    		beforeSend: function(req){
    			req.setRequestHeader("authorization", window.localStorage.getItem('token'));
    		},
    		success: function(result, status, xhr){
    			console.dir(result);
    		},
    		error: function(result, status, xhr){
    			console.log('Error 404');
    		} 
    	});
    });
  };
</script>