<div class="container">
	<div class="row homepage">
		<h1>Little helper</h1>
		<hr/>
		<h3>For unauthorized users</h3>
		<br/>
		<h4>HomePage</h4>
		<p>In "HomePage" page you can get helpfull information :)</p>
		<br/>
		<h4>Users</h4>
		<p>In "Users" page you can find all registered users.</p>
		<br/>
		<h4>Items</h4>
		<p>
			In "Items" page you can find all items that it was created by a registered users. 
		   	You can search items by Id or by items properties.
		</p>
		<br/>
		<h4>Registration</h4>
		<p>In "Registration" page you can register new user.</p>
		<br/>
		<h4>Login</h4>
		<p>You can login to your account in the "Login" page.</p>
		<hr/>
		<h3>For authorized users</h3>
		<br/>
		<h4>HomePage</h4>
		<p>In "HomePage" page you can get helpfull information :)</p>
		<br/>
		<h4>My profile</h4>
		<p>In "My profile" page you can get information about your account and update some acount data.</p>
		<br/>
		<h4>Users</h4>
		<p>In "Users" page you can find all registered users and get user information by user id</p>
		<br/>
		<h4>Items</h4>
		<p>
			In "Items" page you can find all items that it was created by a registered users. 
		   	You can search items by Id or by items properties. Also you can crete, update and
		   	delete items.
		</p>
		<br/>
		<h4>Logout</h4>
		<p>Logout from your account.</p>
	</div>
</div>
