<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <style type="text/css">
        input {
            display: block;
            margin-top: 5px;
        }

        .main {
            margin-top: 50px;
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">HomePage</a>
            <a href="/profile" class="navbar-brand">My profile</a>
            <a href="/users" class="navbar-brand">Users</a>
            <a href="/items" class="navbar-brand">Items</a>

            <a href="/login" class="navbar-brand pull-right">Login</a>
            <a href="/registration" class="navbar-brand pull-right">Registration</a>
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <%- body %>  
        </div>
    </div>

    <div class="container">
        <hr>
        <footer class="footer">
            <div class="pull-right">
                <a href="/">Home</a>
                <div>Test project for cleveroad</div>
            </div>
        </footer>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--SCRIPTS END-->
  </body>

</html>
