<div class="container">
	<div class="row">
		<h1>My profile</h1>
		<h3 id="uid">ID:</h3>
		<h3 id="uemail">Email:</h3>
		<h3 id="uname">Name:</h3>
		<h3 id="uphone">Phone:</h3>
	</div>
</div>
<hr/>
<div class="container">
    <div class="row">
    	<h1> Update profile </h1>
    	<form id="update-profile">
    		<input name="name" type="text" placeholder="Type new name here"/>
    		<input name="phone" type="tel" placeholder="Type new phone here"/>
    		<input name="email" type="email" placeholder="Type new email here"/>
    		<h4>If you want to change your password you sould fill both fields below.</h4>
    		<input name="current_password" type="password" placeholder="Type current password here"/>
    		<input name="new_password" type="password" placeholder="Type new password here"/>
    		
    		<input type="submit" value="Update" class="btn btn-default"/>
    	</form>
    <div>
</div>

<script type="text/javascript">
	window.onload = function(){
		/*
		* Get info about myself request
		*/
		$.ajax({
			url:  '/api/me',
			type: 'GET',
			beforeSend: function(req){
				req.setRequestHeader("authorization", window.localStorage.getItem('token'));
			},
			success: function(res){
				$('#uid').html('ID: ' + res.id);
				$('#uemail').html('Email: ' + res.email);
				$('#uname').html('Name: ' + res.name);
				$('#uphone').html('Phone: ' + res.phone);
			},
			error: function(err){
				console.log(err);
			}
		});
		/*
		*  Update user info request
		*/
		$('#update-profile').on('submit', function(e){
	    	e.preventDefault();

	    	var data = $('#update-profile input');
	    	var fieldsData = {
	    		name: 				data[0].value,
	    		phone: 				data[1].value,
	    		email: 				data[2].value,
	    		current_password: 	data[3].value,
	    		new_password: 		data[4].value 
	    	};

	    	$.ajax({
	    		url:  '/api/me',
	    		type: 'PUT',
	    		data: fieldsData,
	    		beforeSend: function(req){
	    			req.setRequestHeader("authorization", window.localStorage.getItem('token'));
	    		},
	    		success: function(res){
	    			alert('Success update');
	    			location = '/profile';
	    		},
	    		error: function(res){
	    			alert(res.status + ' : ' + res.responseText);
	    		} 
	    	});
	    });
	};
</script>