<style>
	#reg-container {
		width: 400px;
		margin: 0 auto;
	}

	#success-reg {
		display: none;
		width: 500px;
		margin: 0 auto;
		background-color: #D0D0D0;
		padding: 10px;
	}

</style>

<div id="container">
	<div class="row">
		<h1> Registration new user </h1>
		<h3> You should to fill all fields below.</h3>
		<form id="reg-new-profile">
			<input name="email" type="email" placeholder="Type your email here" required/>
			<input name="password" type="password" placeholder="Type your password here" required/>
			<input name="name" type="text" placeholder="Type your name here" required/>
			<input name="phone" type="text" placeholder="Type your phone here" required/>
			<input type="submit" value="Submit" class="btn btn-default"/>
		</form>
	</div>
</div>

<script type="text/javascript">
	window.onload = function(){
	    $('#reg-new-profile').on('submit', function(e){
	    	e.preventDefault();

	    	var data = $('#reg-new-profile input');
	    	var fieldsData = {
	    		email: 				data[0].value,
	    		password: 			data[1].value,
	    		name: 				data[2].value,
	    		phone: 				data[3].value
	    	};

	    	$.ajax({
	    		url:  '/api/register',
	    		type: 'POST',
	    		data: fieldsData,
	    		success: function(result, status, xhr){
	    			window.localStorage.setItem('token', result);
	    			location = '/profile';
	    		},
	    		error: function(result, status, xhr){
	    			alert('error');
	    		} 
	    	});
	    });
    };
</script>