<style>
	#update-container {
		width: 300px;
		margin: 0 auto;
	}

    #update-massege {
        display: none;
        width: 300px;
        height: 100px;
        background-color: red;
    }
</style>

<div>
    <div id="update-container">
    	<h1> Update profile </h1>
    	<form id="update-profile">
    		<input name="name" type="text" placeholder="Type new name here"/>
    		<input name="phone" type="tel" placeholder="Type new phone here"/>
    		<input name="email" type="email" placeholder="Type new email here"/>
    		<input name="current_password" type="password" placeholder="Type current password here"/>
    		<input name="new_password" type="password" placeholder="Type new password here"/>
    		
    		<input type="submit" value="Update" />
    	</form>
    <div>

    <div id="update-massege">
        <h1></h1>
        <a href="/">Go to homepage</a>
    </div>
</div>

<script type="text/javascript">
  window.onload = function(){
    $('#update-profile').on('submit', function(e){
    	e.preventDefault();

    	var data = $('#update-profile input');
    	var fieldsData = {
    		name: 				data[0].value,
    		phone: 				data[1].value,
    		email: 				data[2].value,
    		current_password: 	data[3].value,
    		new_password: 		data[4].value 
    	};

    	$.ajax({
    		url:  '/api/me',
    		type: 'PUT',
    		data: fieldsData,
    		beforeSend: function(req){
    			req.setRequestHeader("authorization", window.localStorage.getItem('token'));
    		},
    		success: function(result, status, xhr){
    			$('#update-container').css('display', 'none');
                $('#update-massege h1').html('Updating success');
                $('#update-massege').css('display', 'block'); 
    		},
    		error: function(result, status, xhr){
    			$('#update-container').css('display', 'none');
                $('#update-massege h1').html('Updating error');
                $('#update-massege').css('display', 'block');
    		} 
    	});
    });
  };
</script>